footer {
    background-color: #3D4050;
    padding: 30px 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    @include main-text();
    cursor: default;

    &__payments {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-left: 1px solid #C3C3C3;
        border-right: 1px solid #C3C3C3;
        padding: 0 40px;
        gap: 40px;

        &-item {
            display: flex;
            align-items: center;
            gap: 13px;
            color: #C3C3C3;
        }
    }

    &__links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 40px;
        &-item {
            display: flex;
            align-items: center;
            gap: 13px;
            color: white;
        }
    }
}



/*tablet*/
@media (max-width: 1280px) {
    footer {
        padding: 1.2rem 0;
    }
    
    .footer {
        gap: 2rem;
        @include main-text(400, 0.75rem, 1rem);
    
        &__payments {
            flex-wrap: wrap;
            justify-content: center;
            padding: 0 2rem;
            gap: 1rem;
    
            &-item {
                width: max-content;
                gap: 0.5rem;
            }
        }
    
        &__links {
            flex-direction: column;
            align-items: flex-start;
            gap: 0.75rem;
            &-item {
                gap: 0.5rem;
            }
        }
    }
}
  
/*mobile*/
@media (max-width: 700px) {
    footer {
        padding: 1rem 0;

        & li {
            width: 100%;
        }
    }
    
    .footer {
        flex-wrap: wrap-reverse;
        gap: 1.2rem;
        @include  main-text(400, 0.75rem, 1rem);
    
        &__payments {
            border: 1px solid #C3C3C370;
            border-left: none;
            border-right: none;
            padding: 1.2rem 0;
            gap: 1rem;
    
            &-item {
                gap: 0.5rem;
            }
        }
    
        &__links {
            flex-direction: row;
            align-items: center;
            padding: 0 1.2rem;
            gap: 1rem;
            &-item {
                gap: 0.5rem;
            }
        }

        &__copyright {
            width: 100%;
            text-align: center;
        }
    }
    
}