.order {
    background-color: $darkgrey;
    background-image: url(../../assets/order-bg.png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;

    &-wrap {
        padding: 120px 0 150px 0;
        display: flex;
        flex-direction: column;
        gap: 80px;
    }

    &__heading {
        @include main-text(700, 36px, 43px, #fff);
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 30px;
        cursor: default;

        &-blue {
            color: $blue;
        }
    }

    &__description {
        @include main-text(400, 18px, 21px, #bbb);
        text-align: center;
        cursor: default;
    }

    &__stages {
        cursor: default;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        &-item {
            width: 209px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            position: relative;

            & p {
                @include main-text(400, 16px, 19px);
                text-align: center;
            }

            &:not(:last-of-type):before {
                content: ".....";
                letter-spacing: 16px;
                font-size: 40px;
                color: #C4C4C4;
                position: absolute;
                top: 15px;
                left: 82%;
            }
        }
    }

    & form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;

        & button {
            width: 368px;
            @include main-text(400, 15px, 18px);
            cursor: pointer;
        }
    }

    .form {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;

        & input:not([type="range"]) {
            background-color: #FFFFFFD9;
            padding: 12px 10px;
            @include main-text(400, 18px, 21px, #000);
            border-radius: 3px;
            border: 1px solid #FFFFFF;
            cursor: pointer;
        }
    }
}

/*select types styles*/
.select {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;

    &__option {
        background: #FFFFFFD9;
        border-radius: 3px;
        
        position: relative;

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 21px 12px 10px;
        @include main-text(400, 18px, 21px,#272733);
        border: 1px solid #FFFFFF;
    }

    .option {
        padding: 10px;
        cursor: pointer;
        @include main-text(400, 18px, 34px);

        &:hover label {
            color: $blue;
            transition: 0.3s ease;
        }

        & .radio {
            display: none;
        }
    }
}

/*options box styles*/
.options__container {
    position: absolute;
    top: 43px;
    background-color: #272733E5;
    border: 1px solid #3D4050;
    color: #fff;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden;

    &::-webkit-scrollbar {
        width: 12px;
        background: #3D4050;
        border: 3px solid #272733E5;
        border-radius: 7px;
    }

    &::-webkit-scrollbar-thumb {
        background: $blue;
        border-radius: 7px;
        border: 2.5px solid #272733E5;
    }

    &.active {
        max-height: 160px;
        opacity: 1;
        overflow-y: scroll;

        & + .select__option {
            background-color: #3D4050D9;
            color: #fff;
            border: none;

            & svg {
                transform: rotateX(-180deg);
                fill: #fff;
            }
        }
    }
}

.input__email::placeholder, .input__name::placeholder {
    @include main-text(400, 18px, 21px,#272733);
}

/*range input styles*/
.range {

    &__container {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    &__value {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include main-text(400, 18px, 21px);
        padding-bottom: 8px;
        cursor: default;
    }
}

.input__range {
    width: 100%;
    height: 6px;
    background: #FFFFFFB2;
    border: 1px solid #FFFFFF;
    -webkit-appearance: none;
    border-radius: 5px;
    cursor: pointer;

    &::-webkit-slider-thumb {
        cursor: pointer;
        appearance: none;
        height: 20px;
        width: 20px;
        background-color: $blue;
        border: 3px solid #286690;
        border-radius: 50%;
    }
}

/*file input styles*/
.input__file {
    display: none;

    &__label {
        height: auto;
        width: 100%;
        background-color: #fff;
        border: 2px solid #3E9CDC;
        border-radius: 3px;

        display: flex;
        align-items: center;
        justify-content: center;

        @include main-text(600, 15px, 18px,#272733);
        text-transform: uppercase;

        cursor: pointer;

        & svg {
            margin-right: 10px;
        }
    }
}


/*tablet*/
@media (max-width: 1280px) {
    .order {
    
        &-wrap {
            padding: 6rem 0;
            gap: 3rem;
        }
    
        &__heading {
            @include main-text(700, 1.7rem, 43px, #fff);
            margin-bottom: 1rem;
        }
    
        &__description {
            @include main-text(400, 1rem, 21px, #bbb);
        }
    
        &__stages {
    
            &-item {
                width: 138px;
                gap: 0.75rem;

                & svg {
                    width: 80px;
                    height: auto;
                }
    
                & p {
                    @include main-text(400, 0.75rem, 1rem);
                    padding: 0 7px;
                }
    
                &:not(:last-of-type):before {
                    content: "...";
                    letter-spacing: 0.7rem;
                    font-size: 1.8rem;
                    top: 1rem;
                    left: 85%;
                }
            }
        }
    
        & form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
    
            & button {
                width: 45%;
                @include main-text(400, 0.8rem, 1rem);
                cursor: pointer;
            }
        }
    
        .form {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1rem;
    
            & input:not([type="range"]) {
                background-color: #FFFFFFD9;
                padding: 10px;
                @include main-text(400, 0.75rem, 1rem, #000);
            }
        }

        .input__email::placeholder, .input__name::placeholder {
            @include main-text(400, 0.75rem, 1rem,#272733);
        }

        /*select types styles*/
        .select {

            &__option {
                padding: 10px;
                @include main-text(400, 0.75rem, 1rem, #272733);
            }

            .option {
                padding: 10px;
                @include main-text(400, 0.75rem, 1rem);
            }
        }

        /*options box styles*/
        .options__container {
            top: 35px;

            &.active {
                max-height: 7rem;
            }
        }

        /*range input styles*/
        .range {

            &__value {
                @include main-text(400, 0.75rem, 1rem);
            }
        }

        /*file input styles*/
        .input__file {

            &__label {
                @include main-text(600,  0.75rem, 1rem,#272733);
            }
        }
    }
}
  
/*mobile*/
@media (max-width: 700px) {
    .order {
    
        &-wrap {
            padding: 4rem 0;
            gap: 2rem;
        }
    
        &__heading {
            @include main-text(700, 1.6rem, 2.5rem, #fff);
            margin-bottom: 0.5rem;
        }
    
        &__description {
            @include main-text(400, 0.75rem, 1rem, #bbb);
        }
    
        &__stages {
            flex-direction: column;
            gap: 2rem;
    
            &-item {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 2rem;
                position: relative;
    
                & p {
                    @include main-text(400, 0.75rem, 1rem);
                    text-align: start;
                    max-width: 10rem;
                }

                & svg {
                    width: 4rem;
                    height: auto;
                }
    
                &:not(:last-of-type):before {
                    content: "...";
                    letter-spacing: 0.3rem;
                    font-size: 1.5rem;
                    top: 4.2rem;
                    left: 1.6rem;
                    transform: rotateZ(90deg);
                    z-index: 10;
                }
            }
        }
    
        & form {
            gap: 1.5rem;
    
            & button {
                width: 100%;
                @include main-text(400, 0.75rem, 1rem);
            }
        }
    
        .form {
            width: 100%;
            display: flex;
            flex-direction: column;
    
            & input:not([type="range"]) {
                padding: 10px;
                @include main-text(400, 0.75rem, 1rem, #000);
            }
        }

        .input__file {

            &__label {
                @include main-text(600,  0.75rem, 1rem,#272733);
                padding: 6.5px;
            }
        }
    }
}