@charset "UTF-8";
/* переменные */
/* миксы */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrap {
  width: 1170px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  color: transparent;
  transition: 0.3s;
}
.link:hover {
  color: #3E9CDC;
}

.btn {
  align-items: center;
  text-transform: uppercase;
  width: 183px;
  padding: 15px 0;
  background-color: #3E9CDC;
  color: #fff;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #fff;
}

.list {
  list-style-type: none;
}

/* header */
header {
  background-color: rgba(16, 16, 29, 0.8980392157);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.breadcrumbs {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.5rem;
}
.breadcrumbs-item {
  font-weight: 600;
  font-size: 13px;
  line-height: 15.6px;
  color: #ffffff;
  color: #fff;
  text-transform: uppercase;
}

.navbar__burger {
  display: none;
}

/*tablet*/
@media (max-width: 1280px) {
  .navbar__burger {
    display: none;
  }
  .logo svg {
    width: 12.5rem;
  }
  .header-wrap {
    padding: 1.3rem 0;
  }
  .breadcrumbs {
    gap: 2rem;
    padding-right: 0.5rem;
  }
}
/*mobile*/
@media (max-width: 700px) {
  .logo svg {
    width: 10rem;
  }
  .header-wrap {
    padding: 1rem 0;
  }
  .navbar__burger {
    display: flex;
    align-items: center;
  }
  .navbar__burger__field {
    padding: 10px 20px;
    cursor: pointer;
  }
  .bar {
    display: block;
    width: 1.2rem;
    height: 2px;
    margin: 3px auto;
    background-color: #eee;
    transition: 0.3s;
  }
  .breadcrumbs {
    position: fixed;
    top: 69px;
    bottom: 100%;
    right: 0;
    width: 100%;
    background-color: rgba(16, 16, 29, 0.8980392157);
    z-index: 100;
    display: flex;
    transition: 0.4s;
    flex-direction: column;
    align-items: center;
    overflow: auto;
  }
  .breadcrumbs.open {
    top: 69px;
    bottom: auto;
    padding: 2rem 0;
  }
  .breadcrumbs > li > a {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
  }
  .breadcrumbs > li > a:hover {
    color: #3E9CDC;
  }
  .navbar__burger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .navbar__burger.active .bar:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
  }
  .navbar__burger.active .bar:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
  }
  body.noscroll {
    overflow: hidden;
  }
}
/* offer */
.offer {
  background: #BBB;
  background-image: url("../assets/offer-pic.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.offer-info {
  padding: 13rem 0 7rem 0;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.offer-info__heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 57.6px;
  color: #000;
  text-transform: uppercase;
  max-width: 48rem;
  cursor: default;
}
.offer-info__heading-blue {
  color: #3E9CDC;
}
.offer-info__advantages {
  list-style-type: "-";
  cursor: default;
}
.offer-info__advantages__heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-bottom: 0.5rem;
}
.offer-info__advantages-item {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-bottom: 5px;
  margin-left: 1rem;
  padding-left: 0.5rem;
}
.offer-info__actions button {
  cursor: pointer;
}
.offer-info__actions button:last-child {
  margin-left: 2rem;
  background-color: #fff;
  color: #000;
  border: 1px solid #6F6D7B;
}

/*tablet*/
@media (max-width: 1250px) {
  .offer-info {
    padding: 10rem 0 6rem 0;
    gap: 3rem;
  }
  .offer-info__heading {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 58px;
    color: #000;
    max-width: 32rem;
  }
  .offer-info__advantages__heading {
    font-weight: 700;
    font-size: 1rem;
    line-height: 20px;
    color: #000;
    margin-bottom: 10px;
  }
  .offer-info__advantages-item {
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    color: #000;
  }
  .offer-info__actions button {
    width: 10rem;
  }
}
/*mobile*/
@media (max-width: 700px) {
  .offer {
    height: auto;
  }
  .offer-info {
    padding: 7rem 0 3rem 0;
    gap: 2rem;
  }
  .offer-info__heading {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #000;
    max-width: 16rem;
  }
  .offer-info__advantages__heading {
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #000;
  }
  .offer-info__advantages-item {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #000;
  }
  .offer-info__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  .offer-info__actions button {
    width: calc(50% - 0.5rem);
    padding: 1rem;
  }
  .offer-info__actions button:last-child {
    margin-left: 0;
  }
}
/* order */
.order {
  background-color: #272733;
  background-image: url("../assets/order-bg.png");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}
.order-wrap {
  padding: 7.5rem 0 9.3rem 0;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.order__heading {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.6rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
  cursor: default;
}
.order__heading-blue {
  color: #3E9CDC;
}
.order__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #bbb;
  text-align: center;
  cursor: default;
}
.order__stages {
  cursor: default;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.order__stages-item {
  width: 209px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  position: relative;
}
.order__stages-item p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  color: #ffffff;
  text-align: center;
}
.order__stages-item:not(:last-of-type):before {
  content: ".....";
  letter-spacing: 1rem;
  font-size: 2.5rem;
  color: #C4C4C4;
  position: absolute;
  top: 1rem;
  left: 82%;
}
.order form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.order form button {
  width: 368px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  cursor: pointer;
}
.order .form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.order .form input:not([type=range]) {
  background-color: rgba(255, 255, 255, 0.8509803922);
  padding: 12px 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  border-radius: 3px;
  border: 1px solid #FFFFFF;
  cursor: pointer;
}

/*select types styles*/
.select {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
}
.select__option {
  background: rgba(255, 255, 255, 0.8509803922);
  border-radius: 3px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 21px 12px 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #272733;
  border: 1px solid #FFFFFF;
}
.select .option {
  padding: 10px;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  color: #ffffff;
}
.select .option:hover label {
  color: #3E9CDC;
  transition: 0.3s ease;
}
.select .option .radio {
  display: none;
}

/*options box styles*/
.options__container {
  position: absolute;
  top: 43px;
  background-color: rgba(39, 39, 51, 0.8980392157);
  border: 1px solid #3D4050;
  color: #fff;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
  /*для firefox не поддерживается*/
  /*для firefox не поддерживается*/
}
.options__container::-webkit-scrollbar {
  width: 12px;
  background: #3D4050;
  border: 3px solid rgba(39, 39, 51, 0.8980392157);
  border-radius: 7px;
}
.options__container::-webkit-scrollbar-thumb {
  background: #3E9CDC;
  border-radius: 7px;
  border: 2.5px solid rgba(39, 39, 51, 0.8980392157);
}
.options__container.active {
  max-height: 10rem;
  opacity: 1;
  overflow-y: scroll;
}
.options__container.active + .select__option {
  background-color: rgba(61, 64, 80, 0.8509803922);
  color: #fff;
  border: none;
}
.options__container.active + .select__option svg {
  transform: rotateX(-180deg);
  fill: #fff;
}

.input__email::-moz-placeholder, .input__name::-moz-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #272733;
}

.input__email::placeholder, .input__name::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #272733;
}

/*range input styles*/
.range__container {
  grid-column-start: 1;
  grid-column-end: 3;
}
.range__value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  padding-bottom: 8px;
  cursor: default;
}

.input__range {
  width: 100%;
  height: 6px;
  background: rgba(255, 255, 255, 0.6980392157);
  border: 1px solid #FFFFFF;
  -webkit-appearance: none;
  border-radius: 5px;
  cursor: pointer;
  /*для firefox не поддерживается*/
}
.input__range::-webkit-slider-thumb {
  cursor: pointer;
  -webkit-appearance: none;
          appearance: none;
  height: 20px;
  width: 20px;
  background-color: #3E9CDC;
  border: 3px solid #286690;
  border-radius: 50%;
}

/*file input styles*/
.input__file {
  display: none;
}
.input__file__label {
  height: auto;
  width: 100%;
  background-color: #fff;
  border: 2px solid #3E9CDC;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #272733;
  text-transform: uppercase;
  cursor: pointer;
}
.input__file__label svg {
  margin-right: 10px;
}

/*tablet*/
@media (max-width: 1280px) {
  .order {
    /*select types styles*/
    /*options box styles*/
    /*range input styles*/
    /*file input styles*/
  }
  .order-wrap {
    padding: 6rem 0;
    gap: 3rem;
  }
  .order__heading {
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 43px;
    color: #fff;
    margin-bottom: 1rem;
  }
  .order__description {
    font-weight: 400;
    font-size: 1rem;
    line-height: 21px;
    color: #bbb;
  }
  .order__stages-item {
    width: 138px;
    gap: 0.75rem;
  }
  .order__stages-item svg {
    width: 80px;
    height: auto;
  }
  .order__stages-item p {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #ffffff;
    padding: 0 7px;
  }
  .order__stages-item:not(:last-of-type):before {
    content: "...";
    letter-spacing: 0.7rem;
    font-size: 1.8rem;
    top: 1rem;
    left: 85%;
  }
  .order form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .order form button {
    width: 45%;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1rem;
    color: #ffffff;
    cursor: pointer;
  }
  .order .form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  .order .form input:not([type=range]) {
    background-color: rgba(255, 255, 255, 0.8509803922);
    padding: 10px;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #000;
  }
  .order .input__email::-moz-placeholder, .order .input__name::-moz-placeholder {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #272733;
  }
  .order .input__email::placeholder, .order .input__name::placeholder {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #272733;
  }
  .order .select__option {
    padding: 10px;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #272733;
  }
  .order .select .option {
    padding: 10px;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #ffffff;
  }
  .order .options__container {
    top: 35px;
  }
  .order .options__container.active {
    max-height: 7rem;
  }
  .order .range__value {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #ffffff;
  }
  .order .input__file__label {
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #272733;
  }
}
/*mobile*/
@media (max-width: 700px) {
  .order-wrap {
    padding: 4rem 0;
    gap: 2rem;
  }
  .order__heading {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: #fff;
    margin-bottom: 0.5rem;
  }
  .order__description {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #bbb;
  }
  .order__stages {
    flex-direction: column;
    gap: 2rem;
  }
  .order__stages-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    position: relative;
  }
  .order__stages-item p {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #ffffff;
    text-align: start;
    max-width: 10rem;
  }
  .order__stages-item svg {
    width: 4rem;
    height: auto;
  }
  .order__stages-item:not(:last-of-type):before {
    content: "...";
    letter-spacing: 0.3rem;
    font-size: 1.5rem;
    top: 4.2rem;
    left: 1.6rem;
    transform: rotateZ(90deg);
    z-index: 10;
  }
  .order form {
    gap: 1.5rem;
  }
  .order form button {
    width: 100%;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #ffffff;
  }
  .order .form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .order .form input:not([type=range]) {
    padding: 10px;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #000;
  }
  .order .input__file__label {
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #272733;
    padding: 6.5px;
  }
}
/* footer */
footer {
  background-color: #3D4050;
  padding: 30px 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.6px;
  color: #ffffff;
  cursor: default;
}
.footer__payments {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-left: 1px solid #C3C3C3;
  border-right: 1px solid #C3C3C3;
  padding: 0 40px;
  gap: 40px;
}
.footer__payments-item {
  display: flex;
  align-items: center;
  gap: 13px;
  color: #C3C3C3;
}
.footer__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.footer__links-item {
  display: flex;
  align-items: center;
  gap: 13px;
  color: white;
}

/*tablet*/
@media (max-width: 1280px) {
  footer {
    padding: 1.2rem 0;
  }
  .footer {
    gap: 2rem;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #ffffff;
  }
  .footer__payments {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 2rem;
    gap: 1rem;
  }
  .footer__payments-item {
    width: -moz-max-content;
    width: max-content;
    gap: 0.5rem;
  }
  .footer__links {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }
  .footer__links-item {
    gap: 0.5rem;
  }
}
/*mobile*/
@media (max-width: 700px) {
  footer {
    padding: 1rem 0;
  }
  footer li {
    width: 100%;
  }
  .footer {
    flex-wrap: wrap-reverse;
    gap: 1.2rem;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #ffffff;
  }
  .footer__payments {
    border: 1px solid rgba(195, 195, 195, 0.4392156863);
    border-left: none;
    border-right: none;
    padding: 1.2rem 0;
    gap: 1rem;
  }
  .footer__payments-item {
    gap: 0.5rem;
  }
  .footer__links {
    flex-direction: row;
    align-items: center;
    padding: 0 1.2rem;
    gap: 1rem;
  }
  .footer__links-item {
    gap: 0.5rem;
  }
  .footer__copyright {
    width: 100%;
    text-align: center;
  }
}
/*tablet*/
@media (max-width: 1280px) {
  .wrap {
    max-width: 690px;
  }
}
/*mobile*/
@media (max-width: 700px) {
  .wrap {
    max-width: 310px;
  }
}/*# sourceMappingURL=style.css.map */